<pre> <style scoped>
#searchterm {
    height:25px;
    width: 310px;
    margin-left: 03px;
    margin-top: 40px;
    margin-right: 03px;
}
#savebutton{
    display: block;
    text-align: center;
    margin: .7em .12em 0;
    font-size: 1.2em;
}
#closebutton{
    display: block;
    text-align: center;
    margin: .7em .12em 0;
    font-size: 1.2em;
}
#refreshbutton{
    display: block;
    text-align: center;
    margin: .7em .12em 0;
    font-size: 1.2em;
}
#searchview
    h4 {
        display: inline-block;
        font-size: 1.2em;
        margin: 0.9em;
    }
    h5 {
        display: inline-block;
        font-size: 0.9em;
        margin-left: 5px;
        margin-top:0px
    }
#searchview
    img {
        float: left;
        width: 4em;
        height: 4em;
        margin: 0;
        -webkit-box-shadow: 0 1px 3px #333;
        box-shadow: 0 1px 3px #333;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }
</style></pre>